@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');

* {
    margin: 0;
    padding: 0;
    border: border-box;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    width: 100%;
    position: relative;
}

header {
    height: 55px;
    width: 100%;
    background-color: rgb(201, 201, 201);
    box-shadow: 10px 10px 15px rgba(145, 144, 144, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/** logo part **/
.logo {
    height: 55px;
    width: 100px;
}

.logo img {
    height: 55px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

/** header blood donate **/
.blood_don {
    height: 80px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blood_don p {
    font-size: 22px;
    color: #cd1e25;
    font-family: monospace;
    font-weight: 900;
}

/** section part starts **/

section {
    height: 150vh;
    width: 100%;
    position: relative;
    display: flex;
}

/** left part **/
.left_part {
    height: 150vh;
    width: 20%;
    box-shadow: 5px 0px 10px rgba(145, 144, 144, 0.3);
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 10;
}

.for_img {
    height: 120px;
    width: 100%;
    background-image: url("img/human-blood1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.for_blur {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

/** for donate button **/

.donate_btn {
    height: 40px;
    width: 100px;
    border: 2px solid rgba(139, 18, 49, 0.5);
    border-radius: 5px;
    color: white;
    background-color: #8b1231;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 5px 5px 5px rgba(139, 18, 48, 0.5);
    transition: 0.5s ease;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate_btn:hover {
    color: #8b1231;
    background-color: white;
    box-shadow: 0 0 25px #8b1231;
    filter: grayscale(0.1);
    transform: scale3d(1.03);
}

.easy_line {
    height: 40px;
    width: 100%;
    background-color: #fe9a9c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.easy_line span {
    color: #8b1231;
    font-size: 19px;
    font-weight: 600;
}

.easy_line p {
    color: white;
    padding-left: 4px;
    font-size: 18px;
    font-weight: 600;
}

/** nav div **/

.nav_div {
    height: 55%;
    width: 100%;
    position: relative;
}

.nav_bar {
    height: 30px;
    width: 40px;
    display: none;
}

.nav_list {
    height: 200px;
    width: 100%;
}

.nav_list ul {
    padding-top: 30px;
}

.nav_list ul a {
    text-decoration: none;
    color: black;
}

.nav_list ul li {
    height: 40px;
    width: calc(100%-30px);
    padding-left: 30px;
}

.list {
    width: fit-content;
    font-size: 14px;
    font-weight: 600;
    transition: 0.4s ease;
    border-bottom: 3px solid transparent;

}

.list:hover {
    color: #8b1231;
    border-bottom: 3px solid #8b1231;
}

.active {
    color: #8b1231;
    border-bottom: 3px solid #8b1231;
}

/** right part **/

.right_part {
    height: 150vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.right_part h3 {
    color: #fe9a9c;
    position: absolute;
    top: 35px;
    left: calc(45% / 2);
    border-left: 5px solid #ea8789;
    padding-left: 5px;
    text-shadow: 1px 1px 1px #8b1231;
    box-shadow: -1px 0px rgba(137, 136, 136, 0.6);
}
.login_container {
    position: absolute;
    top: 90px;
    height: 350px;
    width: 55%;
    background-color: #ffffff;
    box-shadow: -3px 5px 10px rgba(137, 136, 136, 0.5);
    border-radius: 7px;
    border: none;
    display: flex;
}

.login_part {
    height: 100%;
    width: 50%;
    background-color: #ffffff;
    border: none;
    border-radius: 7px 0 0 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login_part h1 {
    font-size: 27px;
    font-family: "Momo Trust Display";
    font-weight: 400;
    padding-bottom: 10px;
}

.input_box {
    position: relative;
    width: 80%;
    height: 40px;
    margin-top: 25px;
}

.input_box input {
    width: calc(100% - 40px);
    height: 100%;
    background-color: rgb(240, 240, 240);
    border: none;
    outline: none;
    font-size: 15px;
    color: #111111;
    padding-left: 15px;
    padding-right: 25px;
    border-radius: 3px;
}

.input_box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    transition: .5s;
}

.input_box input:focus~label,
.input_box input:valid~label {
    top: -5px;
    color: #fe9a9c;
    font-size: 13px;
}

.input_box i {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 15px;
}

.remember_me_box {
    margin-top: 15px;
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 14px;
    border: none;
}

.remember_me_box input {
    margin-right: 4px;
    margin-left: 1px;
}

.remember_me_box input[type="checkbox"] {
    appearance: none;
    height: 12px;
    width: 12px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(201, 201, 201);
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remember_me_box input[type="checkbox"]::after {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    font-size: 10px;
    color: white;
    display: none;
}

.remember_me_box input[type="checkbox"]:hover {
    background-color: rgb(201, 201, 201);
    transition: 0.3s ease-in;
}

.remember_me_box input[type="checkbox"]:checked {
    background-color: #fe9a9c;
}

.remember_me_box input[type="checkbox"]:checked::after {
    display: block;
}

.login_part button {
    height: 40px;
    width: 110px;
    margin-top: 25px;
    font-size: 20px;
    font-family: "Momo Trust Display";
    background-color: #fe9a9c;
    border: none;
    border-radius: 10px;
    color: white;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    cursor: pointer;
    box-shadow: 3px 3px 10px #8b1231;
}

.login_part button:hover {
    box-shadow: 3px 3px 10px #8b1231;
    transition: 0.3s;
}

.login_part button::before,
.login_part button::after {
    content: "";
    height: 100%;
    width: 0%;
    position: absolute;
    transition: width 1s ease-in-out;
    z-index: -1;
    top: 0;
    transform: skewX(25deg);
}

.login_part button::before {
    left: -10px;
    background: linear-gradient(to right, #fe9a9c, #8b1231);
}

.login_part button::after {
    right: -10px;
    background: linear-gradient(to left, #fe9a9c, #8b1231);
}

.login_part button:hover::before,
.login_part button:hover::after {
    width: 60%;
}

.hello_part {
    height: 100%;
    width: 50%;
    border: none;
    background-color: #fe9a9c;
    border-radius: 0 7px 7px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.hello_part h1 {
    font-size: 27px;
    font-family: "Momo Trust Display";
    font-weight: 400;
    padding-bottom: 10px;
}

.hello_part p {
    font-family: "sofia";
}

.hello_part h4 {
    height: 100px;
    width: 85%;
    display: flex;
    align-items: last baseline;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
}

/** footer starts **/

footer {
    height: 250px;
    width: 100%;
    background-color: rgba(201, 201, 201, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer_divs {
    height: 80%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(201, 201, 201);
}

.footer_header {
    height: calc(25% - 20px);
    width: calc(100% - 20px);
    color: black;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
}

.footer_details {
    height: calc(75% - 10px);
    width: calc(100% - 20px);
    color: black;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 20px;
}

.footer_details p {
    padding-bottom: 5px;
}

.footer_details p span {
    color: darkred;
}

.footer_img_container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: last baseline;
    justify-content: center;
}

.footer_img {
    height: 90%;
    width: 30%;
    padding-right: 30px;
}