@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    position: relative;
}

header {
    height: 55px;
    width: 100%;
    background-color: rgb(201, 201, 201);
    box-shadow: 10px 10px 15px rgba(145, 144, 144, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/** logo part **/
.logo {
    height: 55px;
    width: 100px;
}

.logo img {
    height: 55px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

/** header blood donate **/
.blood_don {
    height: 80px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blood_don p {
    font-size: 22px;
    color: #cd1e25;
    font-family: monospace;
    font-weight: 900;
}

/** section part starts **/

section {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
}

/** left part **/
.left_part {
    height: 100vh;
    width: 20%;
    box-shadow: 5px 5px 10px rgba(145, 144, 144, 0.3);
    background-color: rgba(255, 255, 255, 0.5);
}

.for_img {
    height: 120px;
    width: 100%;
    background-image: url("img/human-blood1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.for_blur {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

/** for donate button **/

.donate_btn {
    height: 40px;
    width: 100px;
    border: 2px solid rgba(139, 18, 49, 0.5);
    border-radius: 5px;
    color: white;
    background-color: #8b1231;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 5px 5px 5px rgba(139, 18, 48, 0.5);
    transition: 0.5s ease;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate_btn:hover {
    color: #8b1231;
    background-color: white;
    box-shadow: 0 0 25px #8b1231;
    filter: grayscale(0.1);
    transform: scale3d(1.03);
}

.easy_line {
    height: 40px;
    width: 100%;
    background-color: #fe9a9c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.easy_line span {
    color: #8b1231;
    font-size: 19px;
    font-weight: 600;
}

.easy_line p {
    color: white;
    padding-left: 4px;
    font-size: 18px;
    font-weight: 600;
}

/** nav div **/

.nav_div {
    height: 55%;
    width: 100%;
    position: relative;
}

.nav_bar {
    height: 30px;
    width: 40px;
    display: none;
}

.nav_list {
    height: 200px;
    width: 100%;
}

.nav_list ul {
    padding-top: 30px;
}

.nav_list ul a {
    text-decoration: none;
    color: black;
}

.nav_list ul li {
    height: 40px;
    width: calc(100%-30px);
    padding-left: 30px;
}

.list {
    width: fit-content;
    font-size: 14px;
    font-weight: 600;
    transition: 0.4s ease;
    border-bottom: 3px solid transparent;
    
}

.list:hover {
    color: #8b1231;
    border-bottom: 3px solid #8b1231;
}

.active{
    color: #8b1231;
    border-bottom: 3px solid #8b1231;
}

/** right part **/

.right_part {
    height: 100vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_part_img {
    height: 100vh;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("img/give_blood.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.right_part_blur {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.written_div {
    height: 250px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.04);
    margin-top: 48px;
}

#written {
    font-size: 14px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 20px;
}

#written span {
    font-weight: 600;
}

.btn_div {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.donBtnMain {
    height: 50px;
    width: 155px;
    color: white;
    background-color: #8b1231;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(139, 18, 48, 0.5);
    border: 2px solid rgba(139, 18, 49, 0.5);
    transition: 0.3s ease;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}

.donBtnMain:hover {
    color: #8b1231;
    background-color: white;
    box-shadow: 0 0 25px #8b1231;
    filter: grayscale(0.1);
    transform: scale3d(1.03);
}

/** footer starts **/

footer {
    height: 250px;
    width: 100%;
    background-color: rgba(201, 201, 201, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer_divs {
    height: 80%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(201, 201, 201);
}

.footer_header {
    height: calc(25% - 20px);
    width: calc(100% - 20px);
    color: black;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
}

.footer_details {
    height: calc(75% - 10px);
    width: calc(100% - 20px);
    color: black;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 20px;
}

.footer_details p {
    padding-bottom: 5px;
}

.footer_details p span {
    color: darkred;
}

.footer_img_container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: last baseline;
    justify-content: center;
}

.footer_img {
    height: 90%;
    width: 30%;
    padding-right: 30px;
}